@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
body {
  background-color: #222831;
  color : whitesmoke;
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
